@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #433878;
}

.digital-clock {
  max-width: 400px;
  background-color: #7E60BF;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 700;
  text-shadow: 0 0 10px rgba(62, 0, 124, 0.5);
}

.time {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 700;
  color: #E4B1F0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.date {
  color: #FFE1FF;
  font-size: 20px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.copyright span {
  color: #ffffff;
}

.copyright a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
}

.copyright a:hover {
  color: #E4B1F0;
  text-decoration: underline;
}
